name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8
          run_install: false

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Lint all packages
        run: pnpm lint

      - name: Generate Swagger docs
        run: pnpm --filter ./backend swagger

      - name: Build all packages
        run: pnpm build

      - name: Set test env
        run: echo "MONGO_URI=mongodb://localhost:27017/test" >> backend/.env

      - name: Run tests
        run: pnpm test
